<template name="meal_planner">
  <div>
    <div>
      Meal Planner
    </div>
    <div>
      Day 1
    </div>
    <div>
      <div>
        Meal A
        <button id="button">change</button>
        <button id="button">remove</button>
      </div>
      <div>
        <div>
          Meal B
          <button id="button">change</button>
          <button id="button">remove</button>
        </div>
      </div>
      <div>
        <div>
          Meal C
          <button id="button">change</button>
          <button id="button">remove</button>
        </div>
      </div>
      <div>
        <button id="button">+Add</button>
      </div>
    </div>
  </div>
</template>
